body, p{
    background-color: white;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    color: #B99470;
    h1, h4{
        color: #885d34;
        text-align: center;
        padding-inline: 30px;
        padding-block: 30px;
    }
      h2, h3{
        color: #558f62;
    }
}

#hmo-header{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
      img{
        width: 600px;
        height: auto;
      }
}

.history, .discover{
  padding-inline: 50px;
}

.geography, .actual{
    padding-inline: 50px;
    display: flex;
    justify-content: space-between;
}

.curious-facts{
  padding-inline: 50px;
  display:flex;
  flex-direction: column;
}

#hmo-map, #actual-img{
    padding-top: 20px;
    padding-left: 50px;
    align-items: center;
      img{
        width: 300px;
        height: auto;
      }
    }

.img-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1200px, 1fr)); /* Ajuste automático de columnas */
  gap: 20px; /* Espacio entre las filas imágenes */
  padding-bottom: 50px;
}

.img-container img {
  width: 100%; /* La imagen ocupa todo el ancho de la columna */
  height: 300px; /* Altura automática para mantener la proporción */
  object-fit: cover; /* Mantiene la proporción de la imagen y recorta si es necesario */
  display: block; /* Elimina el espacio blanco debajo de la imagen */
}

  .cerro-de-la-campana, .parque-la-ruina, .plaza-hidalgo, .plaza-zaragoza, .centro-ecologico,
  .cerro-bachoco, .parque-infantil, .parque-madero, .museo-de-arte-de-sonora, .econatura, .san-carlos, .kino{
    display: flex;
    justify-content: space-around;
    padding-inline: 50px;
    padding-block: 10px;
  }

    #cerro-de-la-campana-img, #parque-la-ruina-img, #plaza-hidalgo-img, #plaza-zaragoza-img, #centro-ecologico-img,
    #cerro-bachoco-img, #parque-infantil-img, #parque-madero-img, #musas-img, #econatura-img, #san-carlos-img, #kino-img{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 50px;
      img{
        width: 400px;
        height: 300px;
      }
    }

.container-form{
  display: flex;
  justify-content: center;
  align-items: center;
  form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 500px;
    padding-inline: 30px;
    padding-block: 30px;
    border: 1px solid #B99470;
    .form-control{
    height: 200px;
    }
  }
}

.container.form{
  padding-block: 50px;
  padding-inline: 200px;
}